@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Title="Navigation menu">
            <FluentNavLink Href="blobs" Icon="@(new Icons.Regular.Size20.Database())">Blobs</FluentNavLink>
            <FluentNavLink Href="functions" Icon="@(new Icons.Regular.Size20.Flowchart())">Functions</FluentNavLink>
            <FluentNavLink Href="queues" Icon="@(new Icons.Regular.Size20.Database())">Queues</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    // Collapsible logic handled by CSS/Layout for now
}
