@rendermode InteractiveServer

<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Title="Navigation menu">
            <FluentNavLink Href="blobs" Icon="@(new Icons.Regular.Size20.Database())">Blobs</FluentNavLink>
            <FluentNavLink Href="functions" Icon="@(new Icons.Regular.Size20.Flowchart())">Functions</FluentNavLink>
            <FluentNavLink Href="queues" Icon="@(new Icons.Regular.Size20.Database())">Queues</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    // Navigation menu without collapsible functionality
}
