<HeadContent>
    <link rel="stylesheet" href="css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Clout UI</title>
</HeadContent>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
